:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.logo {
  height: 120px;
  margin-top: 2.8em;
  margin-bottom: 1em;
}

.slogan {
  font-size: 1.3em;
  margin-bottom: 1em;
  color: #06B3C4;
  padding: 0 100px;
  font-weight: 400;
}

header{
  background-color: #06B3C4;
  padding: 5px;
}

.body {
	margin: 0;
	padding: 0;
	position: absolute;
}

.container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding-left: 128px;
	padding-right: 128px;
  @media (max-width: 1024px) {
		padding-left: 64px;
		padding-right: 64px;
	}

	@media (max-width: 767px) {
		padding-left: 32px;
		padding-right: 32px;
	}
}

.hamburger {
	position: relative;
	display: block;
	width: 35px;
	cursor: pointer;
	appearance: none;
	background: none;
	outline: none;
	border: none;
  z-index: 100;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color: #FFF;
	margin: 6px 0px;
	transition: 0.4s ease-in-out;
}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
	opacity: 0;
}

.mobile-nav {
	position: fixed;
	top: 0;
	left: -200px;
	width: 170px;
	min-height: 100vh;
	display: block;
	background-color: #06B3C4;
	padding-top: 120px;
	transition: 0.4s ease-in-out;
	z-index: 99;
  }
  .mobile-nav i{
	padding-right: 10px;
  }

.mobile-nav.is-active {
	left: 0;
  z-index: 10;
}

.mobile-nav a {
	display: block;
	width: 100%;
	max-width: 800px;
	margin: 0 auto 16px;
	text-align:left;
	padding: 12px 16px;
	background-color: #06B3C4;
  color: #FFF;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
	text-decoration: none;
}

.mobile-nav a:hover {
	background-color: white;
  color: #06B3C4;
}

@media (min-width: 950px) {
	.mobile-nav {
		display: none;
	}

	.hamburger {
		display: none;
	}
}

.is-centered .mb-5 {
  color: #777777;
  font-weight: 500;
  text-align: center;
}

.is-centered .columns .column p {
  color: #777777;
  font-weight: 500;
  text-align: center;
  padding-bottom: 28px;
}

.button.is-primary-au-market {
  background-color: #06B3C4; !important;
  border-color: transparent; !important;
  color: #fff; !important;
}

.button.is-primary-au-market:hover {
  background-color: transparent; !important;
  border-color:  #06B3C4; !important;
  color:  #06B3C4; !important;
}

.is-primary-au-market.is-outlined {
  background-color: transparent; !important;
  border-color: #06B3C4; !important;
  color: #06B3C4; !important;
}

.is-primary-au-market.is-outlined:hover {
  background-color: #06B3C4; !important;
  border-color: transparent; !important;
  color: #fff; !important;
}


/* Rectangle 14 */

.rectangle{
	position: relative;
	width: 90%;
	height: 200px;
	left: 20px;
	top: 3px;
	background: #77777731;
	border-radius: 20px;
	overflow: hidden;
}

ol li {
	color:#777777;
		text-align:left;
		font-size:14px;
		font-weight:600;
		margin:16px 18px;
    list-style-type: decimal;
	list-style-position: inside;
}
